---
# Django application deployment tasks

- name: "{{ deployment_environment }} server: Pull project repo from branch {{ project_branch_staging if deployment_environment == 'staging' else project_branch_production }}"
  become: True
  become_user: "{{ user_username }}"
  git:
    repo: "{{ project_repo }}"
    dest: "{{ local_repo_dir }}"
    accept_hostkey: True
    version: "{{ project_branch_staging if deployment_environment == 'staging' else project_branch_production }}"
  notify:
    - Restart gunicorn
    - Restart huey
  tags: [app, deploy]

- name: Make sure that django.log exists and has correct ownership
  file:
    path: "{{ local_repo_dir }}/tmp/django.log"
    owner: "{{ user_username }}"
    group: "{{ group_groupname }}"
    state: touch

- name: Ensure correct media-file ownership
  command:
    cmd: "chown -R {{ user_username }}:www-data {{ media_root }}"
  tags: [app, deploy]

- name: "uv pip sync {{ deployment_environment }} python packages"
  become: True
  become_user: "{{ user_username }}"
  shell: "source {{ venv_activate }} && {{ uv_executable }} pip sync {{ local_repo_dir }}/requirements/{{ deployment_environment }}.txt"
  args:
    executable: /bin/bash
  notify:
    - Restart gunicorn
    - Restart huey
  tags: [app, deploy, python]

- name: Copy secrets
  template:
    src: secrets.json.j2
    dest: "{{ local_repo_dir }}/{{ project_name }}/settings/secrets.json"
  notify:
    - Restart gunicorn
    - Restart huey
  tags: [app, deploy, config]

- name: Django migrate
  django_manage:
    command: migrate
    app_path: "{{ local_repo_dir }}"
    settings: "{{ django_settings }}"
    virtualenv: "{{ home_dir }}/venv/"
  tags: [app, deploy, database]

- name: Django collectstatic
  django_manage:
    command: collectstatic
    app_path: "{{ local_repo_dir }}"
    settings: "{{ django_settings }}"
    virtualenv: "{{ home_dir }}/venv/"
  tags: [app, deploy]

- name: Copy fonts
  copy:
    remote_src: yes
    src: "{{ local_repo_dir }}/static/site/fonts/"
    dest: "{{ home_dir }}/.fonts/"
    owner: "{{ user_username }}"
    group: "{{ group_groupname }}"
    mode: preserve
  tags: [app, deploy]

- name: Update Font Cache
  shell: "fc-cache -f"
  tags: [app, deploy]

- name: Add huey as a systemd service
  template:
    src: huey.service.j2
    dest: /etc/systemd/system/huey.service
  notify:
    - Start huey
  tags: [app, config]

- name: Make sure gunicorn server is running
  service:
    name: gunicorn
    state: started
    enabled: True
  tags: [app, deploy]

- name: Prepare shell commands
  become: true
  become_user: "{{ user_username }}"
  block:
    - name: Find all .sh files in the online commands directory
      find:
        paths: "{{ local_repo_dir }}/deployment/online/commands"
        patterns: "*.sh"
      register: online_command_files

    - name: "Find all .sh files in the {{ deployment_environment }} commands directory"
      find:
        paths: "{{ local_repo_dir }}/deployment/{{ deployment_environment }}/commands"
        patterns: "*.sh"
      register: env_command_files

    - name: "Symlink online commands to {{ home_dir }}/commands/"
      file:
        src: "{{ item.path }}"
        dest: "{{ home_dir }}/commands/{{ item.path | basename }}"
        owner: "{{ project_name }}"
        group: "{{ group_groupname }}"
        state: link
      loop: "{{ online_command_files.files }}"
      when: online_command_files.matched > 0

    - name: "Symlink {{ deployment_environment }} commands to {{ home_dir }}/commands/"
      file:
        src: "{{ item.path }}"
        dest: "{{ home_dir }}/commands/{{ item.path | basename }}"
        owner: "{{ project_name }}"
        group: "{{ group_groupname }}"
        state: link
      loop: "{{ env_command_files.files }}"
      when: env_command_files.matched > 0
  tags: [app, config]

- name: Prepare cron jobs
  become: true
  become_user: "{{ user_username }}"
  block:
    - name: Render crontab template
      template:
        src: "crontab_{{ deployment_environment }}.j2"
        dest: "{{ home_dir }}/tmp/crontab.txt"
        owner: "{{ project_name }}"
        group: "{{ group_groupname }}"
        mode: 0644

    - name: Apply the crontab file
      shell: "crontab {{ home_dir }}/tmp/crontab.txt"

    - name: Remove temporary crontab file
      file:
        path: "{{ home_dir }}/tmp/crontab.txt"
        state: absent
  tags: [app, config]
