---
# Django CRM Full Server Provisioning Playbook
# Usage: ansible-playbook -i inventories/staging/hosts.yml provision.yml

- name: Provision Django CRM Server
  hosts: webservers
  gather_facts: yes
  vars_files:
    - vars/vars.yml

  pre_tasks:
    - name: Verify single host deployment
      fail:
        msg: "This playbook must be run against a single host. Found {{ ansible_play_hosts | length }} hosts."
      when: ansible_play_hosts | length > 1
      run_once: true

  roles:
    - common
    - security
    - database
    - python
    - web

  tasks:
    - name: Include Django CRM app tasks
      include_tasks: roles/app/tasks/django_crm.yml
      tags: [app, deploy]
